@import "./configs";
@import "./queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.main {
  background-color: $cream;
  @include flexCenter();
  height: 100vh;

  .card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    max-width: 60rem;

    .left-img {
      flex: 1.2;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: 3rem;
      flex: 1;
      .product {
        @include StyleContent;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $darkGrayishBlue;
        font-weight: 400;
        margin-bottom: 2rem;
      }

      .heading {
        @include StyleHeading;
        font-size: 3.4rem;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1;
        color: $veryDarkBlue;
        margin-bottom: 2rem;
      }

      .description {
        @include StyleContent;
        color: $darkGrayishBlue;
        line-height: 1.7;
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }

      .price {
        display: flex;
        align-items: center;
        h3 {
          @include StyleHeading;
          font-size: 3rem;
          color: $darkCyan;
          margin-right: 2rem;
        }

        p {
          font-size: 1.5rem;
          color: $darkGrayishBlue;
          text-decoration: line-through;
          @include StyleContent;
        }
      }

      .button {
        @include flexCenter();
        margin-top: 3rem;
        a {
          @include StyleContent;
          @include flexCenter;
          background-color: $darkCyan;
          text-decoration: none;
          color: #fff;
          padding: 1.4rem 8rem;
          border-radius: 10px;
          font-weight: 700;
          font-size: 1rem;
          transition: all ease 0.3s;
          &:hover {
            background-color: $darkerCyan;
          }
          i {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
