@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin StyleHeading() {
  font-family: "Fraunces", serif;
}

@mixin StyleContent() {
  font-family: "Montserrat", sans-serif;
}

// COLORS PRIMARY
$darkCyan: #3c8067;
$darkerCyan: #193d30;
$cream: hsl(30, 38%, 92%);

// NEUTRAL COLORS
$veryDarkBlue: hsl(212, 21%, 14%);
$darkGrayishBlue: hsl(228, 12%, 48%);
